<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"srwf-host-companion-registration-shell","style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}}},"layout":{"type":"constrained","contentSize":"100%","wideSize":"100%"}} -->
<main class="wp-block-group alignfull srwf-host-companion-registration-shell">
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained","contentSize":"100%","wideSize":"100%"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
